body {
	background-color: #ecf0f1;
}

.wrap-site {
  	margin-right: auto;
  	margin-left: auto;
}

.site-header {
	display: flex;
	justify-content: space-around;
	padding-top: 2%;
}

.site-header a {
	color: black;
	font-size: 30px;
}