body {
	background-color: #ecf0f1;
}

.wrap-site {
  	margin-right: auto;
  	margin-left: auto;
}

.site-header {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.site-header a {
	color: black;	
	font-size: 30px;
}

.site-header a:hover {
	color: #6d6d6d;
}

.line {
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	height: 3px;
	margin-top: 40px;
	background-color: black;
}